:root {
    --main--color: #f1894c
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: normal;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings Box */
.settings-box {
    position: fixed;
    left: -200px;
    top: 100px;
    background-color: var(--main--color);
    width: 200px;
    z-index: 1000;
    min-height: 80vh;
    transition: 0.3s;
    border-radius: 0 10px 10px 0;
    opacity: .8;
}
.settings-box.open {
    left: 0;
    box-shadow: 0 0 10px rgba(10, 10, 10, 10);
    
}
.settings-box .toggle-settings {
    position: absolute;
    right: -25px;
    top: 100px;
    background-color: var(--main--color);
    text-align: center;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.settings-box .toggle-settings .fa-gear{
    width: 25px;
    padding: 5px 0;
}
.settings-box .option-box {
    padding: 20px;
    text-align: center;
}
.settings-box .option-box h4{
    margin: 0;
    color: #000000;
    font-size: 12px;
    
}
.settings-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
    
}
.settings-box .option-box .colors-list li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .9;
    display: inline-block;
    border: 2px solid;
    transition: 0.3s;
    border-color: white;
    opacity: .8;
}
.settings-box .option-box .colors-list li:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.settings-box .option-box .colors-list li.active {
    border-color: black;
}
.settings-box .option-box .colors-list li:first-child{
    background-color: #ddd016;
}
.settings-box .option-box .colors-list li:nth-child(2){
    background-color: #e91ee9
}
.settings-box .option-box .colors-list li:nth-child(3){
    background-color: #009688
}
.settings-box .option-box .colors-list li:nth-child(4){
    background-color: #f1894c
}
.settings-box .option-box .colors-list li:nth-child(5){
    background-color: #4caf50
}
.settings-box .option-box .colors-list li:nth-child(6){
    background-color: #ff0909
}

.settings-box .option-box span.yes,
.settings-box .option-box span.no {
    width: 45px;
    background-color: black;
    color: white;
    margin-top: 15px;
    display: inline-block;
    font-size: 11px;
    padding: 4px 5px ;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    opacity: .5;
    margin-left: 8px;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .option-box span:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 15px;
    height: 15px;
    border: 2px solid var(--main--color);
    margin: 15px auto;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity:1;
    position: relative;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main--color);
    width: 89px;
    color: #FFF;
    padding: 4px 10px;
    position: absolute;
    right: 25px;
    top: -4px;
    border-radius: 4px;
    transition: opacity 0.3s;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: default;
    pointer-events: none;
    opacity: 0;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
    transition: opacity 0.3s;
    opacity: 1;
} 
.nav-bullets .bullet .tooltip:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    width: 15px;
    height: 2px;
    background-color: var(--main--color);
    transform: translateY(-50%);
    z-index: 1000;
    transition: opacity 0.3s;
}
/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
    min-height: 100vh;
    background-image: url("../imgs/07.jpg");
    background-size: cover;
    position: relative;
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.landing-page .overlay {
    background-color: #000000bb;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 25px;
}
.header-area .logo {
    width: 300px;
    padding: 1px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.header-area .logo:hover {
    text-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    transition: 0.3s;
    color: var(--main--color);
}
.header-area .links-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: "none";
    padding-left: 0;
    padding: 2px;
}
.header-area .links li{
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
    padding: 10px;
}
.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main--color)
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    position: relative;
}
.header-area .toggle-menu.menu-active:before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}
.header-area .toggle-menu:focus {
    outline: none;
}
.header-area .toggle-menu span {
    display: block;
    width: 100%;
    background-color: #FFF;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 10px;
    height: 4px;
}
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    z-index: 2;
    font-size: 20px;
    width: 95%;
}
.intro-text h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
.intro-text h1 span{
    color: var(--main--color)
}
.intro-text p{
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 55px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li a{
        color: var(--main--color);
        font-weight: bold;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* End Landing Page */


/* Start About Us */
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width: 575px) {
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info-box{
    flex: 1;
    padding: 20px;
}
.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 10px
}
.about-us .info-box p{
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 500px;
}
/* End About Us */

/* Start Skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f3fa;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    width: 100%;
    box-shadow: 
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
}
.skills .skill-name {
    font-weight: bold;
    margin: 0 10px 3px;
    text-align: center;
    line-height: 19px;
    width: 100px;
}
.skills .skill-progress {
    height: 20px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: #c3b9b952;
    position: relative;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
    background-color: var(--main--color);
    width: 0;
    transition: all 0.5s;
}

/* End Skills */

/* Start Gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 50px;
    text-align: center;
}
.gallery .images-box{
    text-align: center;
}
.gallery .images-box img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
    padding: 3px;
    border: 1px solid #CCC;
    cursor: pointer;
    transition: 0.5s;
}
.gallery .images-box img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    z-index: 1001;
    transition: 0.5s;
    width: 80%;
}
.popup-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin: 0px 0px -3px 0px;
}
.img-heading {
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
    z-index: 1010;
}
/* End Gallery */

/* Start Timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f3fa;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -1px;
    background-color: black;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #FFF;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left {
    float: left;
}
.timeline .timeline-content .left:before {
    right: -33.5px;
}
.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right:before {
    left: -34.5px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #f0f3fa;
    border: 2px solid black;;
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .content {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
    box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;;
    border-radius: 10px;
}
.timeline .timeline-content .content h3 {
    font-weight: bold;
    font-size: 20px;
    color: var(--main--color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.clearfix{
    clear: both;
}
.timeline .timeline-content .left .content:before {
    right: -17px;
}
.timeline .timeline-content .right .content:before {
    left: -17px;
}
.timeline .timeline-content .left .content:before,
.timeline .timeline-content .right .content:before {
    content: "";
    position: absolute;
    top: 13.5%;
    width: 38px; 
    height: 1px;
    background-color: black;
    transform: translateY(-50%);
    z-index: 1;
}
/* End Timeline */

/*  Start Our Features */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main--color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img {
    width: 100%;
    max-width: 150px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    color: #767676;
}
/*  End Our Features */

/* Start Testimonials */
.testimonials {
    min-height: 600px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.testimonials:before{
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials:after {
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
}
.testimonials h2 {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    margin: 0 0 30px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.074);
    text-align: center;
    padding-top: 20px;
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.8;
    color: #767676;
    position: relative;
    z-index: 2;
    font-style: italic;
    font-size: 18px;
    font-weight: 300px;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
    background-color: #FFF;
    padding: 10px;
    border: 1px solid var(--main--color);
    margin: 0px 0px -3px 0px;
    width: 100%;
}
.testimonials .ts-box .person-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px;
    position: relative;
    z-index: 2;
    float: left;
    box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.074),
    -2px -2px 2px rgba(0, 0, 0, 0.074),
    -2px 2px 2px rgba(0, 0, 0, 0.074),
    2px -2px 2px rgba(0, 0, 0, 0.074);
    border: 2px solid var(--main--color);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}
.testimonials .ts-box .person-info h4 {
    font-size: 18px;
    margin: 22px 0px 9px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.074);
}
.testimonials .ts-box .person-info p {
    margin: 11px auto;
    color: #767676;
    position: relative;
    z-index: 2;
}
/* End Testimonials */

/* Start Grid System */

@media (min-width: 576px) { /* Small Devices => Phones */
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) { /* Medium Devices => Tablets */
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) { /* Desktop Devices => PC */
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) { /* Larg Screen */
    .container {
        max-width: 1140px;
    }
}
/* End Grid System */
